@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
    --black: #000000;
    --blue: #1B77F3;
    --deep-grey: #343434;
    --grey: #C4C4C4;
    --light-grey: #ECECEC;
    --medium-grey: #A7A7A7;
    --red: #CF3C3F;
    --white: #FFF;
    --whitesmoke: #F9F9F9;
}
.main{
    display: flex;
}
.login{
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: 100vh;
    min-width: 240px;
    padding: clamp(35px,8%,70px);       /* usando clamp(min, preferencial,max) */
    width: 100%;
}
.login__div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
.login__logo{
    margin-bottom: 50px;
    width: 138px;
}
.login__title{
    color: var(--deep-grey);
    font-size: 1.5em;
    margin-bottom: 30px;
}
.login__label{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.input{
    background-color: var(--light-grey);
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0);   /* deixa borda transparente, quando input estiver acionado não tera movimento */
    color: var(--deep-grey);
    font-size: 0.9em;
    font-weight: 600;
    outline: none;
    padding: 25px 10px 10px;
    width: 100%;
}
.login__label span{
    color: var(--medium-grey);
    cursor: text;
    font-size: 0.8em;
    font-weight: 700;
    margin: 20px;
    position: absolute;         /* joga o span dentro do imput */
    text-transform: uppercase;
    transition: all 200ms ease;    /* tempo na transição de todos elementos  */
}
.input:focus{
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}
.login__label .span-active{
    font-size: 0.7em;
    margin: 8px 10px;
}
.login__icons{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}
.login__icons img{
    width: 20px;
}
.icons__button{
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 33.33%;
}
/* seleciona os elementos filhos, pela sequência */
.login__icons .icons__button:nth-child(1){
    background-color: var(--blue);
}
.login__icons .icons__button:nth-child(2){
    background-color: var(--light-grey);
}
.login__icons .icons__button:nth-child(3){
    background-color: var(--black);
}

.login__label--checkbox{
    align-items: center;
    display: flex;
    font-size: 0.9em;
    font-weight: 500;
    margin: 15px 0 50px;
    width: 100%;
}
/* personalizando checkbox */
.input--checkbox{
    appearance: none;
    background-color: var(--light-grey);
    border-radius: 3px;
    height: 20px;
    margin-right: 8px;
    width: 20px;
}
.input--checkbox:checked{
    background-color: #7166ee;
}
.input--checkbox:checked::after{
    border-width: 0 3px 3px 0;
    border: 3px solid white;
    content: "";
    display: block;
    height: 10px;
    margin: 1px 6px;
    transform: rotate(45deg);
    width: 5px;
}
.login__button{
   background-color: var(--light-grey);
   border-radius: 20px;
   border: solid 2px #7166ee;
   cursor: pointer;
   margin-bottom: 60px;
}
.login__button:disabled{
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0);
    border: none;
    cursor: auto;
}
.login__link{
    color: var(--medium-grey);
    font-size: 00.8em;
    font-weight: 700;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.wallpaper{
    background-image: url('./images/wallpaper.jpg');
    background-position: center;
    background-size: cover;
    flex: 1;
    width: 100%;
}
@media (max-width:730px) {
    .wallpaper{
        display: none;
    }
    .main{
        background-image: url(./images/wallpaper-ghost.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
    }
    .login{
        margin: auto;
    }
}