*{
    margin: 0;
    padding: 0;
}
.body{
    font-size: 20px;
}
.header{
    border-color: teal;
    border-width: 10px;
    border-style: solid;
    width: auto;
    height: 70px;
}
.main{
    border-color: gray;
    border-width: 10px;
    border-style: solid;
    max-height: 100vh;
    min-height: 60vh;
    width: auto;
    display: flex;
    flex-direction: row;
}
.section{
    border-color: red;
    border-width: 5px;
    border-style: solid;
    min-width: 60vw;
}
.aside{
    border-color: blueviolet;
    border-width: 5px;
    border-style: solid;
    width: 100%;
}
.footer{
    border-color: coral;
    border-width: 10px;
    border-style: solid;
    width: auto;
    height: 70px;
}
@media (max-width:600px) {
    .aside{
        display: none;
    }
    .section{
        min-width: 80vw;
    }
    .main{
        justify-content: center;
    }
}